body {
    color: #213546;
    background: #eeeeee;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #4F84C4;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #00539C;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.container {
    max-width: 1050px;
}


/*******************************/
/********** Header CSS *********/
/*******************************/
.header {
    position: relative;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
}

@media (min-width: 1200px) {
    .header .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.header .brand {
    position: relative;
}

.header .brand img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
}

.header .topbar {
    position: relative;
    text-align: right;
}

.header .topbar .topbar-col {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 15px;
}

.header .topbar-col a {
    color: #213546;
    font-size: 13px;
}

.header .topbar-col a i {
    margin-right: 10px;
    color: #4F84C4;
}

.header .topbar-social {
    position: relative;
}

.header .topbar-social a {
    display: inline-block;
}

.header .topbar-social a i {
    margin-right: 10px;
    font-size: 18px;
    color: #bbbbbb;
}

.header .topbar-social a:last-child i {
    margin: 0;
}

.header .topbar-social a:hover i {
    color: #4F84C4;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #bbbbbb;
}

.header .dropdown-menu a.active {
    color: #4F84C4;
}

@media (min-width: 992px) {
    .header .navbar {
        background: #ffffff !important;
    }
    
    .header .navbar-brand {
        display: none;
    }
    
    .header .navbar-light a.nav-link {
        position: relative;
        padding: 8px 10px;
        color: #213546;
        font-size: 16px;
        z-index: 1;
    }
    
    .header .navbar-light a.nav-link:hover,
    .header .navbar-light a.nav-link.active {
        color: #4F84C4;
    }
}

@media (max-width: 992px) {
    .header .brand {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .header .topbar {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .header .topbar .topbar-col {
        margin: 0;
    }
    
    .header .topbar .topbar-social {
        margin-top: 5px;
    }
    
    .header .navbar {
        background: #ffffff !important;
        border: 1px solid #eeeeee;
        z-index: 1;
    }
    
    .header a.nav-link {
        padding: 5px 0;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}

.header .navbar .btn {
    position: relative;
    margin-left: 15px;
    padding: 12px 25px 10px 25px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    background: linear-gradient(#4F84C4, #00539C);
    transition: .5s;
}

.header .navbar .btn:hover {
    background: linear-gradient(#00539C, #4F84C4);
}

.header .navbar .btn i {
    font-size: 16px;
    margin-right: 8px;
}

@media (max-width: 992px) {
    .header .navbar .btn {
        margin: 15px 0 10px 0;
    }
}



.heading{
    text-align: center;
    text-transform: uppercase;
    padding-bottom:30px;
    padding-top:50px;
    padding-left:25%;
    padding-right:25%;
    font-size: 30px;
    font-weight:700;
}

.top{
    text-align: center;
    text-transform: uppercase;
    padding-bottom:20px;
    padding-top:50px;
    padding-left:25%;
    padding-right:25%;
    font-size: 30px;
    font-weight:700;
}




@media screen and (max-width: 992px) {
    .year{
        margin: 50px 0px;
        flex-direction: column;
    }
}


/*******************************/
/******* year CSS *******/
/*******************************/
@media screen and (max-width: 992px) {
    .responsive{
        margin: 50px 0px;
        flex-direction: column;
    }
}
.a2013{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url(img/2013.jpeg) ; 
    border-radius:20px;
    /* background-color:blue; */
    
}
@media screen and (max-width: 992px) {
    .a2013{
        flex-direction: column;
        margin:30px auto;
       
    }
}


.a2014{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    /* background-color:blue; */
    background-image:url(img/2014.jpeg) ; 
    border-radius:20px;
}
@media screen and (max-width: 992px) {
    .a2014{
        flex-direction: column;
       margin: 60px auto;
    }
}

.a2015{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px; 
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url(img/2015.JPG) ; 
    border-radius:20px;
    /* background-color:blue; */
}
@media screen and (max-width: 992px) {
    .a2015{
        flex-direction: column;
       margin:30px auto;
    }
}


.a2016{
    /* background-color:blue; */
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:20px;
    background-image:url(img/2016.JPG) ; 
   
    
}
@media screen and (max-width: 992px) {
    .a2016{
        flex-direction: column;
        margin:30px auto;
    }
}
.a2017{
    /* background-color:blue; */
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:20px;
    background-image:url(img/2017.jpeg) ; 
    
}
@media screen and (max-width: 992px) {
    .a2017{
        flex-direction: column;
    margin:60px auto;
    }
}
.a2018{
     /* background-color:blue; */
     margin-left: 45px;
     margin-right: 45px;
     margin-top: 60px;
     margin-bottom: 20px;
     width: 400px;
     height:300px;
     display:inline-block;
     background-repeat:no-repeat;
     background-size:100%;
     border-radius:20px;
    background-image:url(img/2018.JPG) ; 

}
@media screen and (max-width: 992px) {
    .a2018{
        flex-direction: column;
        margin:30px auto;
    }
}
.a2019{
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 400px;
  height:300px;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:100%;
  /* background-color:blue; */
  border-radius:20px;
  background-image:url(img/2019.JPG) ; 
}
@media screen and (max-width: 992px) {
    .a2019{
        flex-direction: column;
     margin:30px auto;
    }
}
.a2020{
     /* background-color:blue; */
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url(img/2020.jpg) ; 
    border-radius:20px;

}
@media screen and (max-width: 992px) {
    .a2020{
        flex-direction: column;
        margin:60px auto;
    }
}
.a2021{
    /* background-color:blue; */
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 400px;
    height:300px;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:20px;
    background-image:url(img/2021.jpeg) ; 
   
}
@media screen and (max-width: 992px) {
    .a2021{
        flex-direction: column;
     margin:30px auto;
    }
}
.a2022{
    margin-left: 40px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 150px;
  width: 400px;
  height:300px;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:100%;
  /* background-color:blue; */
  border-radius:20px;
 background-image:url(img/team_2022.jpg) ; 
  
}
@media screen and (max-width: 992px) {
    .a2022{
        flex-direction: column;
        margin:20px auto;
    }
}
.a2023{
    /* background-color:blue; */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom:150px;
    width: 400px;
    height:300px;
    background-image:url(img/2023.jpeg) ; 
    display:inline-block;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:20px;

}
@media screen and (max-width: 992px) {
    .a2023{
        flex-direction: column;
        margin:0 auto;
    }
}

.b13{
    align-items: center;
    justify-content: center;
    
}



@media screen and (max-width: 992px) {
    .b13{
        margin: 50px 0px;
        flex-direction: column;
    }
}
.para{
    align-items: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 20%;
    padding-left: 20%;
    text-align:center;
    padding-bottom:50px ;

}
.name{
    text-align:center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.575);
    font-weight: bolder;
    margin-bottom: 20px;
   
}
.overlay{
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    cursor:pointer;
    background:rgba(214, 212, 212, 0.534);
    height:100%;
    border-radius:20px;

}
.content{
    padding-top: 20px;
    transform:uppercase;
    color:white;
    font-family: verdana;
    text-align: center;
    
}

.link{
    font-size: 40px;
    font-weight: 1000;
    color:#2c3035;
   padding-top: 100px;

}

.a2013:hover .overlay{
    opacity:0.5;
}
.a2014:hover .overlay{
    opacity:0.8;
}
.a2015:hover .overlay{
    opacity:0.8;
}
.a2016:hover .overlay{
    opacity:0.8;
}
.a2017:hover .overlay{
    opacity:0.8;
}
.a2018:hover .overlay{
    opacity:0.8;
}
.a2019:hover .overlay{
    opacity:0.8;
}
.a2020:hover .overlay{
    opacity:0.8;
}
.a2021:hover .overlay{
    opacity:0.8;
}
.a2022:hover .overlay{
    opacity:0.8;
}
.a2023:hover .overlay{
    opacity:0.8;
}



/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    padding-top: 90px;
    background: #2c3035;
}

.footer .footer-about,
.footer .footer-link {
    position: relative;
    margin-bottom: 45px;
}

@media(min-width: 992px) {
    .footer .container:first-child {
        max-width: 960px;
        margin-bottom: 30px;
    }
    
    .footer .footer-about,
    .footer .footer-link {
        padding: 0 30px;
    }
}

.footer .footer-about h2,
.footer .footer-link h2 {
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999999;
}

.footer .footer-about h2::after,
.footer .footer-link h2::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #999999, #ffffff, #999999);
    border-radius: 0 100% 100% 0; 
}

.footer .footer-about p {
    margin-bottom: 8px;
    font-size: 14px;
    color: #999999;
}

.footer .footer-about p i {
    width: 20px;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #999999;
    
}

.footer .footer-link a::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #ffffff;
}

.footer .copyright {
    padding: 15px;
    border-top: 1px solid #3b3e43;
}

.footer .copyright p {
    margin: 0;
    font-size: 14px;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #999999;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}
